<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="a">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <form action="">
            <input type="text" placeholder="Enter the place">
            <button>Submit</button>
        </form>

        <p id="msg1"></p>
        <p id="msg2"></p>

    </div>
      <script src="/js/app.js"></script>
</body>
</html>